/* "* is a universal selector" */
/**{
	color: purple;
}
*/
/*#heading{
	color: rgb(255, 192, 203);
}
#description{
	color: blue;
}*/
		h1{
			color: red;
		}

		#heading{
			color: purple;
		}

ul li {
	color: blue;
}

body > section > form > label {
	color: indianred;
}

input[required] {
	border-color: red;
	width: 90%;
}