*{
	color: black;
}

#heading{

	color: purple;
		}
#introduction{
	text-transform: uppercase;
}

.languages li{
	background: yellow;
	font-family: arial;
			}
#introduction{
	color: blue;
			}
#ul li{
	color: blue;
	font-family: arial;
			}
.sub{

	border-style: solid;
	border-color: black;
	font-family: arial;
}
.post{

	border-style: solid;
	border-color: black;
	font-family: arial;
}
.hero{

	border-style: solid;
	border-color: black;
	font-family: arial;
}
.git{

	border-style: solid;
	border-color: black;
	font-family: arial;
}

#photo{
	height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: 20px;

    padding-top: 10px;
}

#things{
	letter-spacing: 5px;
	font-family: arial;
	font-size: 15px;
}

.last{
	text-align: center;
	font-family: arial;
}